<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary
# -indexing
# -ordered
# -Multiple data
# -Mutable

In [ ]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [ ]:
print(d['a'])

Apple

In [ ]:
len(d)

4

In [ ]:
# No + * in dictionary

In [ ]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in d:  #To print key only
    print(i, end =" ")

a b c d

In [ ]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in d.values(): #To print values only
    print(i, end =" ")

Apple Ball Cat Dog

In [ ]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in d.items(): #To print both key and values
    print(i, end =" ")

('a', 'Apple') ('b', 'Ball') ('c', 'Cat') ('d', 'Dog')

In [ ]:
a= [['a', 'Apple'], ['b', 'Ball'], ['c', 'Cat'], ['d', 'Dog']]
dict(a) #list inside list to dictionary

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
list(a) #only key

['a', 'b', 'c', 'd']

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
list(a.items()) #both key and values

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat'), ('d', 'Dog')]

In [ ]:
# how to create dictionary
# d = dict()
# d = {}

In [ ]:
d = {}
d['a'] = "Apple"
d['b'] = 'Ball'
d['c'] = "Car"
d['d'] = "Dog"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Car', 'd': 'Dog'}

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Car', 'd': 'Dog'}
a['a'] = 'Ant' #update
a['e'] = 'Elephant' #add with new key
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Car', 'd': 'Dog', 'e': 'Elephant'}

In [ ]:
#del pop()
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Car', 'd': 'Dog'}
del a['d'] #delete
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Car'}

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Car', 'd': 'Dog'}
a.pop('c')
print(a)

{'a': 'Apple', 'b': 'Ball', 'd': 'Dog'}

In [ ]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Car', 'd': 'Dog'}
b = a.pop('c')
print(a)
print(b)

{'a': 'Apple', 'b': 'Ball', 'd': 'Dog'}
Car

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[phone] = name

print(d)

Enter n = 2
Enter name = Subarna Dahal
Enter phone = 9863397226
Enter name = Rehan Dahal
Enter phone = 9819674130
{9863397226: 'Subarna Dahal', 9819674130: 'Rehan Dahal'}

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone

print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 9863397226
Enter name = Rehan
Enter phone = 9819674130
{'Subarna': 9863397226, 'Rehan': 9819674130}

In [ ]:
#list inside dictionary
d = {'Subarna':[9863397226,9803065366], 'Rehan': [9819674130,9844086170]}
print(d)

{'Subarna': [9863397226, 9803065366], 'Rehan': [9819674130, 9844086170]}

In [ ]:
d = {'Subarna':[9863397226,9803065366], 'Rehan': [9819674130,9844086170]}
print(d['Subarna'][1])

9803065366

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ncell_phone = int(input("Enter ncell_phone = "))
    ntc_phone = int(input("Enter ntc_phone = "))
    d[name] = [ncell_phone,ntc_phone]

print(d)

Enter n = 1
Enter name = Ram
Enter ncell_phone = 9819674130
Enter ntc_phone = 9863397226
{'Ram': [9819674130, 9863397226]}

In [ ]:
d = {'name':['Ram','Shyam','Ram'],
    'ntc_phone':[9863397226,9844086170,9844020227],
    'ncell_phone':[9819674130,9823116502,9803065366]}
d

{'name': ['Ram', 'Shyam', 'Ram'],
 'ntc_phone': [9863397226, 9844086170, 9844020227],
 'ncell_phone': [9819674130, 9823116502, 9803065366]}

In [ ]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    d['name'].append(name)
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)

print(d)

Enter n = 2
Enter name = Ram
Enter ntc_phone = 9863397226
Enter ncell_phone = 9819674130
Enter name = Hari
Enter ntc_phone = 9844086170
Enter ncell_phone = 9803065366
{'name': ['Ram', 'Hari'], 'ntc_phone': [9863397226, 9844086170], 'ncell_phone': [9819674130, 9803065366]}

In [ ]:
print(d['name'][0],d['ntc_phone'][0],d['ncell_phone'][0])

Ram 9863397226 9819674130

In [ ]:
#dictionary inside list
d = [{'name':'Ram', 'age':34, 'address':'kathmandu'},
    {'name':'Raman', 'age':44, 'address':'chitwan'},
    {'name':'Hari', 'age':24, 'address':'Janakpur'},]
d

[{'name': 'Ram', 'age': 34, 'address': 'kathmandu'},
 {'name': 'Raman', 'age': 44, 'address': 'chitwan'},
 {'name': 'Hari', 'age': 24, 'address': 'Janakpur'}]

In [ ]:
d[0]

{'name': 'Ram', 'age': 34, 'address': 'kathmandu'}

In [ ]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    x = {'name': name, 'age': age, 'address': address}
    d.append(x)

print(d)

Enter n = 1
Enter name = Ram
Enter age = 34
Enter address = kathmandu
[{'name': 'Ram', 'age': 34, 'address': 'kathmandu'}]