<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# file = open('<file location>','<mode>')
# <operations>
# file.close

In [ ]:
# with open('<file_name>','mode') as file:
#     <operations>

In [ ]:
# read -> r
# write -> w
# create -> x
# append -> a

In [ ]:
file = open('data.txt','x')
file.close()

In [ ]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1.Hello World
2.Kathmandu
3.Java
4.Tribhuvan
5.Sagarmatha

In [ ]:
x.split('\n')

['1.Hello World', '2.Kathmandu', '3.Java', '4.Tribhuvan', '5.Sagarmatha']

In [ ]:
b = x.split('\n')
b[0]

'1.Hello World'

In [ ]:
# write
file = open('data1.txt','w') #write mode le naya file afhaile create garxa if xaina vane
file.write('Subarna Dahal') #write le only string support garxa
file.close()

In [ ]:
bill = str()
n = int(input("Enter Data : "))
for i in range(n):
    name = input("Enter the product name: ")
    price = int(input("Enter the product price: "))
    quantity = float(input("Enter the product quantity: "))

    total = price * quantity

    bill = bill + f"Product:{name}\t Price:{price}\t Quantity:{quantity}\t Total:{total} \n"

print(bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter Data : 3
Enter the product name: Apple
Enter the product price: 245
Enter the product quantity: 3
Enter the product name: Banana
Enter the product price: 120
Enter the product quantity: 6
Enter the product name: Orange
Enter the product price: 100
Enter the product quantity: 5
Product:Apple	 Price:245	 Quantity:3.0	 Total:735.0
Product:Banana	 Price:120	 Quantity:6.0	 Total:720.0
Product:Orange	 Price:100	 Quantity:5.0	 Total:500.0

In [ ]:
file = open('bill.txt','r')
x = file.read()
print(x.split('\n'))
file.close()

['Product:Apple\t Price:245\t Quantity:4.0\t Total:980.0 ', 'Product:Banana\t Price:120\t Quantity:6.0\t Total:720.0 ', 'Product:Orange\t Price:100\t Quantity:2.0\t Total:200.0 ', '']

In [ ]:
y = x.split('\n')[0:-1]
y

['Product:Apple\t Price:245\t Quantity:4.0\t Total:980.0 ',
 'Product:Banana\t Price:120\t Quantity:6.0\t Total:720.0 ',
 'Product:Orange\t Price:100\t Quantity:2.0\t Total:200.0 ']

In [ ]:
bills = [] #list inside list
for i in y:
    z = (i.split('\t'))
    bills.append(z)

bills

[['Product:Apple', ' Price:245', ' Quantity:4.0', ' Total:980.0 '],
 ['Product:Banana', ' Price:120', ' Quantity:6.0', ' Total:720.0 '],
 ['Product:Orange', ' Price:100', ' Quantity:2.0', ' Total:200.0 ']]

In [ ]:
bills[0]

['Product:Apple', ' Price:245', ' Quantity:4.0', ' Total:980.0 ']

In [ ]:
bills[0][2]
#float(bills[0][2])

' Quantity:4.0'

In [ ]:
# bill = str()
# n = int(input("Enter Data : "))
# for i in range(n):
#     name = input("Enter the product name: ")
#     price = int(input("Enter the product price: "))
#     quantity = float(input("Enter the product quantity: "))

#     total = price * quantity

#     bill = bill + f"{name}\t {price}\t {quantity}\t {total} \n"

# print(bill)

# file = open('bill.txt','w')
# file.write(bill)
# file.close()

Enter Data : 2
Enter the product name: Apple
Enter the product price: 200
Enter the product quantity: 2
Enter the product name: Banana
Enter the product price: 3
Enter the product quantity: 120
Apple	 200	 2.0	 400.0
Banana	 3	 120.0	 360.0

In [ ]:
bills = [] #list inside list
for i in y:
    z = (i.split('\t'))
    bills.append(z)

bills

[['Product:Apple', ' Price:245', ' Quantity:4.0', ' Total:980.0 '],
 ['Product:Banana', ' Price:120', ' Quantity:6.0', ' Total:720.0 '],
 ['Product:Orange', ' Price:100', ' Quantity:2.0', ' Total:200.0 ']]

In [ ]:
y = (x.split('\n'))
print(y[0].split('\t'))
print(y[1].split('\t'))
print(y[2].split('\t'))

['Product:Apple', ' Price:245', ' Quantity:4.0', ' Total:980.0 ']
['Product:Banana', ' Price:120', ' Quantity:6.0', ' Total:720.0 ']
['Product:Orange', ' Price:100', ' Quantity:2.0', ' Total:200.0 ']

In [ ]:
print(bill)

Product:Apple	 Price:245	 Quantity:4.0	 Total:980.0
Product:Banana	 Price:120	 Quantity:6.0	 Total:720.0
Product:Orange	 Price:100	 Quantity:2.0	 Total:200.0

In [ ]:
a = "Ram Shyam Hari"
a.split()

['Ram', 'Shyam', 'Hari']

In [ ]:
a = "Ram_Shyam_Hari"
a.split('_')

['Ram', 'Shyam', 'Hari']

In [ ]:
a = "Ram_Shyam_Hari"
b = "Sita.Geeta.Mira"
print(a.split('_'))
print(b.split('.'))

['Ram', 'Shyam', 'Hari']
['Sita', 'Geeta', 'Mira']

In [ ]:
#csv files
bill = str()
n = int(input("Enter Data : "))
for i in range(n):
    name = input("Enter the product name: ")
    price = int(input("Enter the product price: "))
    quantity = float(input("Enter the product quantity: "))

    total = price * quantity

    bill = bill + f"{name}, {price}, {quantity}, {total} \n"

print(bill)

file = open('bill.csv','w')
file.write('name,price,qty,total\n')
file.write(bill)
file.close()

Enter Data : 2
Enter the product name: Apple
Enter the product price: 245
Enter the product quantity: 4
Enter the product name: Banana
Enter the product price: 125
Enter the product quantity: 4
Apple, 245, 4.0, 980.0
Banana, 125, 4.0, 500.0

In [ ]:
pwd #current path of the directory

'C:\\Users\\SU3ARNA\\Python_class'

In [ ]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

     name  price  qty  total
0   Apple    245  4.0  980.0
1  Banana    125  4.0  500.0