<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python collection
# list
# tuple
# dict
# set

In [ ]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Mutable

In [ ]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog"]
print(type(a))
print(type(b))

In [ ]:
b = ["Apple","Ball","Cat","Dog"]
print(b[0])
print(b[0:3])
print(b[-1:0:-1])
print(b[0:4:2])
print(b[-1])
print(b[::-1])

In [ ]:
b = ["Apple","Ball","Cat","Dog"]
print(b) #ordered data

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,0]
c = a+b    #list concatination
print(c)

In [ ]:
a = [1,2,3,4,5]
print(a*2)

In [ ]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple","Fish"]
for i in a:
    print(i)

In [ ]:
#append() insert() extend()

In [ ]:
a =[]
n = int(input("Enter n = "))
for i in range(n):
        x = int(input("Enter x = "))
        a.append(x)

        print(a)

Enter n = 3
Enter x = 13
[13]
Enter x = 2
[13, 2]
Enter x = 3
[13, 2, 3]

In [ ]:
a = [123,456,32,90,11]
print("The max value = ", max(a))
print("The min value = ",min(a))
print("The sum of the value = ",sum(a))
a.sort()
a.reverse()
print(a)

The max value =  456
The min value =  11
The sum of the value =  712
[456, 123, 90, 32, 11]

In [ ]:
a = ["Ball","Apple","Cat","Ant","Xray",".ball","ant","@jug",""]
a.sort()
print(a)

['.ball', '3jeep', '@jug', 'Ant', 'Apple', 'Ball', 'Cat', 'Xray', 'ant']

In [ ]:
#insert()
a = ["Ball","Apple","Cat","ant","Xray"]
a.insert(1,"Key")
print(a)

['Ball', 'Key', 'Apple', 'Cat', 'ant', 'Xray']

In [ ]:
#extend()
a = ["Ball","Apple","Cat","ant","Xray"]
b = [1,2,3,4,5,6,7,8,9,0]
a.extend(b)
print(a)

['Ball', 'Apple', 'Cat', 'ant', 'Xray', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
#Update list
a = ["Ball","Apple","Cat","ant","Xray"]
a[0] = "ball"
print(a)

['ball', 'Apple', 'Cat', 'ant', 'Xray']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray"]
a[1] = "ball" #update
print(a)

['Ball', 'ball', 'Cat', 'ant', 'Xray']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray"]
a[1] = ["ball","apple"]
print(a)

['Ball', ['ball', 'apple'], 'Cat', 'ant', 'Xray']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray"]
a[1:2] = ["ball","apple"] #insert
print(a)

['Ball', 'ball', 'apple', 'Cat', 'ant', 'Xray']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray"]
a[0:2] = ["ball","apple"] #update
print(a)

['ball', 'apple', 'Cat', 'ant', 'Xray']

In [ ]:
#removing values from list
#del
#remove()
#pop()

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep"]
del a[0] #delete
print(a)

['Apple', 'Cat', 'ant', 'Xray', 'Jeep']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep"]
del a[0:3] #delete
print(a)

['ant', 'Xray', 'Jeep']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep"]
print(a.index("Apple"))  #finding indexing

1

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
print(a.index("Apple"))  #limitation doesnt show indexing of both

1

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
l = len(a)
for i in range(l):
    if a[i] == "apple":
    print(i)

0
1
2
3
4
5
6

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
l = len(a)
for i in range(l):
    if a[i] == "Cat":
        print(i)

2

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
l = len(a)
search = input("Enter search value = ")
for i in range(l):
    if a[i] == search:
        print(i)

Enter search value = Apple
1
6

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
l = len(a)
#search = input("Enter search value = ")
for i in range(l):
    if a[i] == "Apple":
        print(i)

1
6

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
a.remove("Ball")
print(a)

['Apple', 'Cat', 'ant', 'Xray', 'Jeep', 'Apple']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
c = a.count("Apple")
for i in range(c):
    a.remove("Apple")


print(a)

['Ball', 'Cat', 'ant', 'Xray', 'Jeep']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
a.pop()
print(a)

['Ball', 'Apple', 'Cat', 'ant', 'Xray', 'Jeep']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
a.pop(0)
print(a)

['Apple', 'Cat', 'ant', 'Xray', 'Jeep', 'Apple']

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
b = a.pop(0)
print(a)
print(b)

['Apple', 'Cat', 'ant', 'Xray', 'Jeep', 'Apple']
Ball

In [ ]:
# Search in list

In [ ]:
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
search = input("Enter seacrh value = ")
if search in a:
    print("Yes")
    print(a.count(search))

Enter seacrh value = Apple
Yes
2

In [ ]:
 #case insensitive , thakai j value xa tei count garna
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
search = input("Enter seacrh value = ")
for i in range(len(a)):
    if search.lower() == a[i].lower():
        print("Yes")
        print(a.count(search))

Enter seacrh value = apple
Yes
0
Yes
0

In [ ]:
 #case insensitive, upper lower case milhauna
c = 0
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
search = input("Enter seacrh value = ")
for i in range(len(a)):
    if search.lower() == a[i].lower():
        c = c+1

print(c)

Enter seacrh value = apple
2

In [ ]:
c = 0
a = ["Ball","Apple","Cat","ant","Xray","Jeep","Apple"]
search = input("Enter seacrh value = ")
for i in range(len(a)):
    if search.lower() == a[i].lower():
        c = c+1

if c>0:
    print("Yes there is such value")
else:
    print("No there is no such value")

Enter seacrh value = frog
No there is no such value

In [ ]:
#List inside List

In [ ]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(type(a))

<class 'list'>

In [ ]:
info = [['Ram',34,'Kathmandu'],
       ['Shyam',45,'Janakpur'],
       ['Hari',23,'Chitwan']]
print(info)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Janakpur'], ['Hari', 23, 'Chitwan']]

In [ ]:
info = [['Ram',34,'Kathmandu'],
       ['Shyam',45,'Janakpur'],
       ['Hari',23,'Chitwan']]
info[0]

['Ram', 34, 'Kathmandu']

In [ ]:
info = [['Ram',34,'Kathmandu'],
       ['Shyam',45,'Janakpur'],
       ['Hari',23,'Chitwan']]
info[1]

['Shyam', 45, 'Janakpur']

In [ ]:
info = [['Ram',34,'Kathmandu'],
       ['Shyam',45,'Janakpur'],
       ['Hari',23,'Chitwan']]
info[1][0]

'Shyam'

In [ ]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    x = [name,age,address]
    info.append(x)

print(info)

Enter n = 3
Enter name = Ram
Enter age = 41
Enter address = Kathmandu
Enter name = Shyam
Enter age = 35
Enter address = Janakpur
Enter name = Sita
Enter age = 36
Enter address = Chitwan
[['Ram', 41, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
info

[['Ram', 41, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
len(info)

3

In [ ]:
for i in info:
    print(i)

['Ram', 41, 'Kathmandu']
['Shyam', 35, 'Janakpur']
['Sita', 36, 'Chitwan']

In [ ]:
info[0]

['Ram', 41, 'Kathmandu']

In [ ]:
name = input("Enter name = ")
for i in info:
    if name in i:
        print(i)

Enter name = Sita
['Sita', 36, 'Chitwan']

In [ ]:
age = int(input("Enter age = "))
for i in info:
    if i[1]>=30:
        print(i)

Enter age = 30
['Ram', 41, 'Janakpur']
['Sita', 31, 'Chitwan']

In [ ]:
name = (input("Enter name = "))
for i in info:
    if  name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 41, 'Kathmandu']

In [ ]:
#update
info [0]

['Ram', 41, 'Kathmandu']

In [ ]:
info[0] = ['ram', 34, 'Kathmandu']
info[0][0] = 'RAM'
info

[['RAM', 34, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
info

[['RAM', 34, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
#del remove() pop()
info[2]

['Sita', 36, 'Chitwan']

In [ ]:
del info[2] #index wise delete garna
info

[['RAM', 34, 'Kathmandu'], ['Shyam', 35, 'Janakpur']]

In [ ]:
info.remove(['RAM', 34, 'Kathmandu']) #search garyera delete garna mostly used
info

[['Shyam', 35, 'Janakpur']]

In [ ]:
info = [['Ram', 41, 'Kathmandu'],
['Shyam', 35, 'Janakpur'],
['Sita', 36, 'Chitwan']]
info

[['Ram', 41, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
name = input("Enter name = ")
for i in info:
    if name in i:
        info.remove(i)

info

Enter name = Ram

[['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]

In [ ]:
info = [['Ram', 41, 'Kathmandu',50000],
        ['Shyam', 35, 'Janakpur',35000],
        ['Sita', 36, 'Chitwan',89000]]

[['Ram', 41, 'Kathmandu'], ['Shyam', 35, 'Janakpur'], ['Sita', 36, 'Chitwan']]