<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# loop
# for loop
# while loop

In [ ]:
# for loop
# range(5)       # 0,1,2,3,4
# range(1,5)     # 1,2,3,4
# range(1,10,2)  # 1,3,5,7,9

In [ ]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [ ]:
for i in range(1,10,3):
    print(i,"Hello World")

1 Hello World
4 Hello World
7 Hello World

In [ ]:
for i in range(5,0,-1):
    print(i,"Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [ ]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a*i)

Enter a = 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter a = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for i in range(2):
    a = int(input("Enter a = "))

Enter a = 10
Enter a = 20

In [ ]:
s = 0
for i in range(6):
    a = int(input("Enter a = "))
    s = s + a
    print(s)

Enter a = 1000
1000
Enter a = 2000
3000
Enter a = 1500
4500
Enter a = 4000
8500
Enter a = 2000
10500
Enter a = 1000
11500

In [1]:
#s = str()
s = " "
for i in range(2):
    name = input ("Enter name = ")
    phone = input("Enter phone no = ")
    s = s + name + phone + "\n"

print(s)

Enter name = Ram Dahal
Enter phone no = 9870987653
Enter name = Shyam Dhakal
Enter phone no = 9087654321
 Ram Dahal9870987653
Shyam Dhakal9087654321

In [2]:
s = " "
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone no = ")
    s = s + name + " " + phone + "\n"

print(s)

Enter n =2
Enter name = Mira Acharya
Enter phone no = 9807890876
Enter name = Rita Dahal
Enter phone no = 98709876553
 Mira Acharya 9807890876
Rita Dahal 98709876553

In [3]:
bill = " "
all_total = 0
n = int(input("Enter n = "))
for i in range (n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    bill= bill +name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    all_total= all_total + total

print(bill)
print(all_total)

Enter n = 2
Enter name = Gita Shrestha
Enter price = 2000
Enter quantity = 3
Enter name = Sita Devi
Enter price = 4500
Enter quantity = 1
 Gita Shrestha 2000 3.0 6000.0
Sita Devi 4500 1.0 4500.0

10500.0

In [4]:
s = 1
n = int(input("Enter n ="))
for i in range(1, n+1):
    s = s * i

print(s)

Enter n =5
120

In [5]:
s = 0
n = int(input("Enter n ="))
for i in range(1, n+1):
    s = s + i

print(s)

Enter n =100
5050

In [6]:
n = 5
for i in range(5):
    print(i * "*")

*
**
***
****

In [7]:
n = 10
for i in range(10):
    print((n-1)* "",2*i * "*")

 **
 ****
 ******
 ********
 **********
 ************
 **************
 ****************
 ******************

In [8]:
n = 15
for i in range(1,15):
    print((n-i)*" ",(2*i-1) * "*")

               *
              ***
             *****
            *******
           *********
          ***********
         *************
        ***************
       *****************
      *******************
     *********************
    ***********************
   *************************
  ***************************

In [9]:
n = 10
for i in range(1,n):
    print((n-i)*" ",(2*i-1) * "0")

for i in range(n,-1,-1):
    print((n-i)*" ",(2*i-1) * "0")

          0
         000
        00000
       0000000
      000000000
     00000000000
    0000000000000
   000000000000000
  00000000000000000
 0000000000000000000
  00000000000000000
   000000000000000
    0000000000000
     00000000000
      000000000
       0000000
        00000
         000
          0

In [ ]:
# loop in string

In [10]:
a = "Hello world"
for i in a:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [11]:
a = "Hello"
for i in a:
    print(i, "Hello")

H Hello
e Hello
l Hello
l Hello
o Hello

In [12]:
a = "Hello world"
for i in a:
    print(i, end ="+") #end prints horizontally

H+e+l+l+o+ +w+o+r+l+d+

In [13]:
a = "Good Morning"
for i in a:
    if i != " ":
        print(i,end = "")

GoodMorning

In [14]:
for i in range(0,21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [15]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [16]:
a= "Hello World . I am python!"
for i in a:
    if i !="." and i!="!": #and is used as true and true result is true and true and false is false.
        print(i, end ="")

Hello World  I am python