<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/python_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b= a-5
print(b)

5

In [ ]:
a= True #true is 1
b= False #false is 0
c= a+b
print(c)

1

In [ ]:
a="10" #   "" is str
b="10"
c= a+b
print(c)

1010

In [ ]:
a=10 #var
b=10
c= a+b
print(c)

20

In [ ]:
a= 5                                         #int
b= 5.5                                       #float
c= "hello world"                             #string
d= True                                      #boolean

print(a,b,c,d)

print(a)
print(d)

5 5.5 hello world True
5
True

In [ ]:
a= 'hello world 10@#*&%'          #all are string , '' most use as main
a= "hello world"          #used when statement is like "ram's"
a= '''hello world'''

In [ ]:
a= 40
b =20
c = a + b
c= a**b
c=a*b
c=b//a
c=b/a

print(c)
print(a+b)
print(a**b)  #power
print(a*b)
print(a/b)
print(a//b)
print(b/a)
print(b//a) #float division , does not include value after .0
print(a%b)  #remainder

0.5
60
109951162777600000000000000000000
800
2.0
2
0.5
0
0

In [ ]:
a= 10  #int
a= "10"  #str becz of ""

In [ ]:
a = "Hello "  # giving space is also a character
b = "world"
c= a+b   #string concatination
print(c)
print(type(c))

Hello world
<class 'str'>

In [ ]:
a = "hello "
print(a*2)

hellohello

In [ ]:
a= True   #bool
a= true   #variable
hello #var = "hello world" #valuve  (#var start with alphabet and cannot start with number and cannot have space between, if you wanna put space use _)

In [ ]:
#operators
#arithmetic operators + - * / ** // %

In [ ]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
true ="hello"
d= true
print(d)

hello

In [ ]:
a=5
b=5.5
c=b*a
d=c-a+b

print(d)

28.0

In [ ]:
a="hello"
b="world"
print(a+b)

helloworld

In [ ]:
a="hello"
b="world"
print(a + b)

helloworld

In [ ]:
a= input("enter a=") #taking value from user
print(a)
b= input()
print(b)

enter a=7
7
9
9

In [ ]:
a= input("Enter a=")  #value is taken as str
b=input("Enter b=")
c= a+b
print(c)

Enter a=10
Enter b=20
1020

In [ ]:
a= int(input("Enter a=")) #value is taken as integer ,str data is converted to integer its called typecasting
b=int(input("Enter b="))
c= a+b
print(c)

Enter a=10
Enter b=20
30

In [ ]:
p=int(input("Enter p="))
t=float(input("Enter t="))
r=float(input("Enter r="))
i= p*t*r/100
print(i)

Enter p=1000
Enter t=4
Enter r=8
320.0

In [ ]:
a=10
str(a)

'10'

In [ ]:
float(a)

10.0

In [ ]:
bool(a)

True

In [ ]:
name = input("Enter name =")
age = int(input("Enter age ="))
address = input("Enter address =")
info = "Hello World i am " + name + " I am "+ str(age) + " years old and I am from " + address  #age is int and cannot concatenate with str so converted into str
print(info)

Enter name =subarna dahal
Enter age =18
Enter address =janakpur
Hello World i am subarna dahal I am 18 years old and I am from janakpur