<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#set
# -No Indexing
# -Unordered
# -Multiple data but no duplicate
# -Mutable

In [ ]:
#to define set
# a = set()
# a = {}

In [ ]:
a = {'Apple','Ball','Cat','Dog'}
print(a)

{'Ball', 'Dog', 'Cat', 'Apple'}

In [ ]:
a = {'Apple','Ball','Cat','Dog','Apple'} #No duplicate value
print(a)

{'Ball', 'Dog', 'Cat', 'Apple'}

In [ ]:
a = {'Apple','Ball','Cat','Dog'}
for i in a:
    print(i)

Ball
Dog
Cat
Apple

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = {1,2,3,4,5,6}
print(type(s))

<class 'set'>

In [ ]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Ball', 'Cat', 'Apple'}

In [ ]:
a = {1,2,3,4,5}
b = {2,3,4,5,6}
c = a + b #set doesn't support concatination
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
a = {1,2,3,4,5}
a.update({3,4,5,6,7,8,9})
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
a = {1,2,3,4,5,6}
a.remove(1)
a

{2, 3, 4, 5, 6}

In [ ]:
a = [1,2,3,4,5,1,2,5,4,2,3,1,4,6,3]
a = set(a)
a = list(a)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}

i = a.intersection(b) #common value in two sets
print(i)

{9, 7}

In [ ]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}

u = a.union(b) # union of two sets
print(u)

{1, 3, 5, 6, 7, 8, 9, 10}

In [ ]:
U = {1,2,3,4,5,6,7,8,9,10}
print(U-u) #value not associated with both sets

{2, 4}

In [ ]:
apple = {"Ram","Sita","Hari","Kedar","Gayatri","Rewanta","Sofia"}
ms = {"Bill","Mark","Steven","Logan","Deji","Rewanta","Sofia"}

both = apple.intersection(ms) #works on both company
print(both)

{'Rewanta', 'Sofia'}

In [ ]:
apple = {"Ram","Sita","Hari","Kedar","Gayatri","Rewanta","Sofia"}
ms = {"Bill","Mark","Steven","Logan","Deji","Rewanta","Sofia"}

un = apple.union(ms) #union of both company
print(un)

{'Sofia', 'Deji', 'Steven', 'Kedar', 'Ram', 'Rewanta', 'Sita', 'Gayatri', 'Logan', 'Hari', 'Bill', 'Mark'}

In [ ]:
apple = {"Ram","Sita","Hari","Kedar","Gayatri","Rewanta","Sofia"}
ms = {"Bill","Mark","Steven","Logan","Deji","Rewanta","Sofia"}

ap = apple - ms #works only for apple
print(ap)

{'Kedar', 'Ram', 'Sita', 'Gayatri', 'Hari'}

In [ ]:
U = {'XYZ','abc','Kedar', 'Ram', 'Sita', 'Gayatri', 'Hari'}
apple = {"Ram","Sita","Hari","Kedar","Gayatri","Rewanta","Sofia"}
ms = {"Bill","Mark","Steven","Logan","Deji","Rewanta","Sofia"}

un = apple.union(ms)

print(U-un)

{'XYZ', 'abc'}

In [ ]:
job = {'Python','django','restapi','ml','tensorflow','pytorch'}
profile = {'Python','django','js','bootstrap'}

len_skill = len(job.intersection(profile))
print(len_skill)

len_job_skill = len(job)
print(len_job_skill)

chance = len_skill/len_job_skill * 100
print(chance)

2
6
33.33333333333333

In [ ]:
job = {'Python','django','restapi','ml','tensorflow','pytorch'}
profile = {'Python','django'}

print(profile.issuperset(job))

False

In [ ]:
job = {'Python','django','restapi','ml','tensorflow','pytorch'}
profile = {'Python','django'}

print(profile.issubset(job))

True

In [ ]:
s = {(1,2,3),(4,5,6,7)}
s

{(1, 2, 3), (4, 5, 6, 7)}

In [ ]:
s = {[1,2,3],[4,5,6,8]}
s  #doesnot support list

TypeError: unhashable type: 'list'

In [ ]:
s = {{1,2,3},{4,5,6,7}}
s #doesnot support set inside set (set ma mutable datatype nai hudaina)

TypeError: unhashable type: 'set'