<a href="https://colab.research.google.com/github/subarna007/pythonclass/blob/main/string_formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string Formatting

In [ ]:
name = "Ram"
age = 34
address = "Kathmandu"

info = "Hello I am " + name + " I am "+ str(age)+" years old" + " I am from " + str(address)
print(info)

Hello I am Ram I am 34 years old I am from Kathmandu

In [ ]:
name = "Ram"
age = 34
address = "Kathmandu"

info = f"Hello World {name}. I am {age}. I am from {address}"  #string formatting ,beginning f is known as formatting
print(info)

Hello World Ram. I am 34. I am from Kathmandu

In [ ]:
# Assignment:
#     WAP to create a billing system using string formatting.

In [ ]:
name = input("Enter the product name: ")
price = float(input("Enter the product price: "))
quantity = float(input("Enter the product quantity: "))

total = price* quantity

bill = f"Product:{name}\nPrice:{price}\nQuantity:{quantity}\nTotal:{total}"

print(bill)

Enter the product name: Apple
Enter the product price: 100
Enter the product quantity: 1.5
Product:Apple
Price:100.0
Quantity:1.5
Total:150.0

In [ ]:
# search in string
a = "Ram Shyam Hari Gopal Sita"
name = input("Enter Name = ")

if name in a:
    print("Yes! There is ", name)
    print(a.count(name)) #search how many are there.
else:
    print("There is no such name")

Enter Name = Ram
Yes! There is  Ram
1

In [ ]:
a = "Ram Shyam Hari Gopal Sita"
# a.lower()
a.upper()

'RAM SHYAM HARI GOPAL SITA'

In [ ]:
a = "Ram Shyam Hari Gopal Sita".lower()
name = input("Enter Name = ").lower()

if name in a:
    print("Yes! There is ", name)
    print(a.count(name)) #search how many are there.
else:
    print("There is no such name")

Enter Name = RAM
Yes! There is  RAM
1

In [ ]:
a = "Ram Shyam Hari Gopal Sita"
# a.lower()
a.upper()
a = a.upper()
print(a)

RAM SHYAM HARI GOPAL SITA

In [ ]:
a = "Ram Shyam Hari Gopal Sita Ramesh".lower() #limitation , ramesh is also count as ram
name = input("Enter Name = ").lower()

if name in a:
    print("Yes! There is ", name)
    print(a.count(name)) #search how many are there.
else:
    print("There is no such name")

Enter Name = RAM
Yes! There is  ram
2

In [ ]:
a = "Ram Shyam Hari Gopal Sita "
a = a.replace("Ram", "ram")
a

'ram Shyam Hari Gopal Sita '

In [ ]:
a = "Ram Shyam Hari Gopal Sita Ram"
a = a.replace("Ram ","ram ")
a

'ram Shyam Hari Gopal Sita Ram'

In [ ]:
a = "Ram Shyam Hari Gopal Sita Ram"
a = a.replace("Ram ","")
a

'Shyam Hari Gopal Sita Ram'